
header {
    background: url(../images/hero-bg.png) no-repeat center;
    background-size: cover;
    margin-bottom: -250px;
}

header nav ul li {
    padding: 0px 20px;
}
/* about part */
#about{
    background: url(../images/about-bg.png) no-repeat;
    background-size: cover;
    padding: 300px 0px 150px;
    backface-visibility: hidden;
}
/* #about {
    background: url(../images/about-bg.png) no-repeat;
    background-size: cover;
    padding: 300px 0px 150px;
    backface-visibility: hidden;

} */
